package myday

import (
	"lvm/internal/templates/layouts"
	"net/http"
)

templ MyDay(r *http.Request) {
	@layouts.Base("My day page", r) {
		Welcome, here you can find what tasks you need to do today!
	}
}
